body {
  height: 100vh;
  font-family: "Comfortaa", cursive;
}

.homePage {
  position: relative;
}


.search {
    position: relative;
    width: 60%;

}


.welcome {
  z-index: 99;
  position: absolute;
  margin-top: 115px;
  margin-top: 219px;
  margin-left: 50px;
  font-weight: bold;
}

.aboutUs {
  position: absolute;
  margin-top: 334px;
  z-index: 99;
  font-size: 18px;
  margin-left: 35px;
  padding: 5px;
}

.quote {
  position: absolute;
  /* font-family: 'Handlee', cursive; */
  z-index: 99;
  font-size: 21px;
  margin-left: 147px;
  margin-top: 516px;
  font-weight: bold;
  padding: 7px;
}
.nav {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav:hover {
  color: #bc8f8f;
}



.logo-nav {
  z-index: 99;
  position: absolute;
}

.logo-form {
  z-index: 99;
}

.white-text {
  color: white;
}

Tab {
  font-size: 10px !important;
}

.button {
  background-color: #5D6D7E;
  border:  #5D6D7E;
}

.button:hover{
  background-color: #34495E ;
  border: #34495E ;
}