body {
  height: 100vh;
  font-family: "Comfortaa", cursive;
}

.homePage {
  position: relative;
}

.search {
  position: relative;
  width: 60%;
}

.welcome {
  z-index: 99;
  position: absolute;
  margin-top: 178px;
  margin-left: 100px;
  font-weight: bold;
}

.aboutUs {
  position: absolute;
  margin-top: 269px;
  z-index: 99;
  font-size: 18px;
  margin-left: 35px;
  padding: 5px;
}

.quote {
  position: absolute;
  z-index: 99;
  font-size: 21px;
  margin-left: 147px;
  margin-top: 480px;
  font-weight: bold;
  padding: 7px;
}
.nav {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav:hover {
  color: #bc8f8f;
}

.logo-nav {
  z-index: 99;
  position: absolute;
}

.logo-form {
  z-index: 99;
  margin-left: 25px;
}

.add-img {
  margin-top: 54px;
}

.hypo-input {
  margin-top: 35px;
}

.white-text {
  color: white;
}

.Tab {
  font-size: 10px !important;
}

.button {
  background-color: #5d6d7e;
  border: #5d6d7e;
}

.button:hover {
  background-color: #34495e;
  border: #34495e;
}
